<% provide(:title, 'About') %>
<div class="center hero-unit">
  <h1>About Authentication Test</h1>

  <h2>
    This web application tests authorization and authentication through Devise and OmniAuth.
  </h2>
</div>

<%= link_to image_tag("Stretch.jpg", alt: "Author") %>